doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style(type='text/css').
    p{
    margin:10px 0;
    padding:0;
    }
    table{
    border-collapse:collapse;
    }
    h1,h2,h3,h4,h5,h6{
    display:block;
    margin:0;
    padding:0;
    }
    img,a img{
    border:0;
    height:auto;
    outline:none;
    text-decoration:none;
    }
    body,#bodyTable,#bodyCell{
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    background-color:#fafafa;
    }
    #bodyTable{
    background-color:#fafafa;  
    }
    .mcnPreviewText{
    display:none !important;
    }
    #outlook a{
    padding:0;
    }
    img{
    -ms-interpolation-mode:bicubic;
    }
    table{
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    }
    .ReadMsgBody{
    width:100%;
    }
    .ExternalClass{
    width:100%;
    }
    p,a,li,td,blockquote{
    mso-line-height-rule:exactly;
    }
    a[href^=tel],a[href^=sms]{
    color:inherit;
    cursor:default;
    text-decoration:none;
    }
    p,a,li,td,body,table,blockquote{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    }
    .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
    line-height:100%;
    }
    a[x-apple-data-detectors]{
    color:inherit !important;
    text-decoration:none !important;
    font-size:inherit !important;
    font-family:inherit !important;
    font-weight:inherit !important;
    line-height:inherit !important;
    }
    .templateContainer{
    max-width:600px !important;
    }
    a.mcnButton{
    display:block;
    }
    .mcnImage,.mcnRetinaImage{
    vertical-align:bottom;
    }
    .mcnTextContent{
    word-break:break-word;
    }
    .mcnTextContent img{
    height:auto !important;
    }
    .mcnDividerBlock{
    table-layout:fixed !important;
    }
    /*
    @tab Page
    @section Heading 1
    @style heading 1
    */
    h1{
    /*@editable*/color:#cc0000;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:40px;
    /*@editable*/font-style:normal;
    /*@editable*/font-weight:bold;
    /*@editable*/line-height:150%;
    /*@editable*/letter-spacing:-5px;
    /*@editable*/text-align:center;
    }
    /*
    @tab Page
    @section Heading 2
    @style heading 2
    */
    h2{
    /*@editable*/color:#222222;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:34px;
    /*@editable*/font-style:normal;
    /*@editable*/font-weight:bold;
    /*@editable*/line-height:150%;
    /*@editable*/letter-spacing:-2px;
    /*@editable*/text-align:left;
    }
    /*
    @tab Page
    @section Heading 3
    @style heading 3
    */
    h3{
    /*@editable*/color:#444444;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:22px;
    /*@editable*/font-style:normal;
    /*@editable*/font-weight:bold;
    /*@editable*/line-height:150%;
    /*@editable*/letter-spacing:normal;
    /*@editable*/text-align:left;
    }
    /*
    @tab Page
    @section Heading 4
    @style heading 4
    */
    h4{
    /*@editable*/color:#949494;
    /*@editable*/font-family:Georgia;
    /*@editable*/font-size:20px;
    /*@editable*/font-style:italic;
    /*@editable*/font-weight:normal;
    /*@editable*/line-height:125%;
    /*@editable*/letter-spacing:normal;
    /*@editable*/text-align:left;
    }
    /*
    @tab Header
    @section Header Container Style
    */
    #templateHeader{
    /*@editable*/background-color:#232222;
    /*@editable*/background-image:none;
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:50% 50%;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:1px none ;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0px;
    /*@editable*/padding-bottom:0px;
    }
    /*
    @tab Header
    @section Header Interior Style
    */
    .headerContainer{
    /*@editable*/background-color:#transparent;
    /*@editable*/background-image:url("https://gallery.mailchimp.com/3cf1a78b321fc81fa7326866d/images/51556ee0-188f-4321-9513-bb7a6303bba0.png");
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:center;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:0;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0;
    /*@editable*/padding-bottom:0;
    }
    /*
    @tab Header
    @section Header Text
    */
    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
    /*@editable*/color:#757575;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:16px;
    /*@editable*/line-height:150%;
    /*@editable*/text-align:left;
    }
    /*
    @tab Header
    @section Header Link
    */
    .headerContainer .mcnTextContent a,.headerContainer .mcnTextContent p a{
    /*@editable*/color:#007C89;
    /*@editable*/font-weight:normal;
    /*@editable*/text-decoration:underline;
    }
    /*
    @tab Body
    @section Body Container Style
    */
    #templateBody{
    /*@editable*/background-color:#fafafa;
    /*@editable*/background-image:none;
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:center;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:10px solid #cc0000;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0px;
    /*@editable*/padding-bottom:0px;
    }
    /*
    @tab Body
    @section Body Interior Style
    */
    .bodyContainer{
    /*@editable*/background-color:#transparent;
    /*@editable*/background-image:none;
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:center;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:0;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0;
    /*@editable*/padding-bottom:0;
    }
    /*
    @tab Body
    @section Body Text
    */
    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
    /*@editable*/color:#757575;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:16px;
    /*@editable*/line-height:150%;
    /*@editable*/text-align:left;
    }
    /*
    @tab Body
    @section Body Link
    */
    .bodyContainer .mcnTextContent a,.bodyContainer .mcnTextContent p a{
    /*@editable*/color:#007C89;
    /*@editable*/font-weight:normal;
    /*@editable*/text-decoration:underline;
    }
    /*
    @tab Footer
    @section Footer Style
    */
    #templateFooter{
    /*@editable*/background-color:#cc0000;
    /*@editable*/background-image:none;
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:center;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:0;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0px;
    /*@editable*/padding-bottom:0px;
    }
    /*
    @tab Footer
    @section Footer Interior Style
    */
    .footerContainer{
    /*@editable*/background-color:#transparent;
    /*@editable*/background-image:none;
    /*@editable*/background-repeat:no-repeat;
    /*@editable*/background-position:center;
    /*@editable*/background-size:cover;
    /*@editable*/border-top:0;
    /*@editable*/border-bottom:0;
    /*@editable*/padding-top:0;
    /*@editable*/padding-bottom:0;
    }
    /*
    @tab Footer
    @section Footer Text
    */
    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
    /*@editable*/color:#FFFFFF;
    /*@editable*/font-family:Helvetica;
    /*@editable*/font-size:12px;
    /*@editable*/line-height:150%;
    /*@editable*/text-align:center;
    }
    /*
    @tab Footer
    @section Footer Link
    */
    .footerContainer .mcnTextContent a,.footerContainer .mcnTextContent p a{
    /*@editable*/color:#FFFFFF;
    /*@editable*/font-weight:normal;
    /*@editable*/text-decoration:underline;
    }
    @media only screen and (min-width:768px){
    .templateContainer{
    width:600px !important;
    }
    }	@media only screen and (max-width: 480px){
    body,table,td,p,a,li,blockquote{
    -webkit-text-size-adjust:none !important;
    }
    }	@media only screen and (max-width: 480px){
    body{
    width:100% !important;
    min-width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnRetinaImage{
    max-width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImage{
    width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
    max-width:100% !important;
    width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnBoxedTextContentContainer{
    min-width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageGroupContent{
    padding:9px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
    padding-top:9px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
    padding-top:18px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageCardBottomImageContent{
    padding-bottom:9px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageGroupBlockInner{
    padding-top:0 !important;
    padding-bottom:0 !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageGroupBlockOuter{
    padding-top:9px !important;
    padding-bottom:9px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnTextContent,.mcnBoxedTextContentColumn{
    padding-right:18px !important;
    padding-left:18px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
    padding-right:18px !important;
    padding-bottom:0 !important;
    padding-left:18px !important;
    }
    }	@media only screen and (max-width: 480px){
    .mcpreview-image-uploader{
    display:none !important;
    width:100% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Heading 1
    @tip Make the first-level headings larger in size for better readability on small screens.
    */
    h1{
    /*@editable*/font-size:30px !important;
    /*@editable*/line-height:125% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Heading 2
    @tip Make the second-level headings larger in size for better readability on small screens.
    */
    h2{
    /*@editable*/font-size:26px !important;
    /*@editable*/line-height:125% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Heading 3
    @tip Make the third-level headings larger in size for better readability on small screens.
    */
    h3{
    /*@editable*/font-size:20px !important;
    /*@editable*/line-height:150% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Heading 4
    @tip Make the fourth-level headings larger in size for better readability on small screens.
    */
    h4{
    /*@editable*/font-size:18px !important;
    /*@editable*/line-height:150% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Boxed Text
    @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
    .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
    /*@editable*/font-size:14px !important;
    /*@editable*/line-height:150% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Header Text
    @tip Make the header text larger in size for better readability on small screens.
    */
    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
    /*@editable*/font-size:16px !important;
    /*@editable*/line-height:150% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Body Text
    @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
    /*@editable*/font-size:16px !important;
    /*@editable*/line-height:150% !important;
    }
    }	@media only screen and (max-width: 480px){
    /*
    @tab Mobile Styles
    @section Footer Text
    @tip Make the footer content text larger in size for better readability on small screens.
    */
    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
    /*@editable*/font-size:14px !important;
    /*@editable*/line-height:150% !important;
    }
    }
// *|IF:MC_PREVIEW_TEXT|*
// [if !gte mso 9] <!
span.mcnPreviewText(style='display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;')
// <![endif]
// *|END:IF|*
center
  table#bodyTable(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
    tr
      td#bodyCell(align='center' valign='top')
        // BEGIN TEMPLATE //
        table(border='0' cellpadding='0' cellspacing='0' width='100%')
          tr
            td#templateHeader(align='center' valign='top' data-template-container='')
              //if (gte mso 9)|(IE)
                table(align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;')
                  tr
                    td(align='center' valign='top' width='600' style='width:600px;')
              table.templateContainer(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
                tr
                  td.headerContainer(valign='top')
                    table.mcnImageBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                      tbody.mcnImageBlockOuter
                        tr
                          td.mcnImageBlockInner(valign='top' style='padding:0px')
                            table.mcnImageContentContainer(align='left' width='100%' border='0' cellpadding='0' cellspacing='0' style='min-width:100%;')
                              tbody
                                tr
                                  td.mcnImageContent(valign='top' style='padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;')
                                    img.mcnImage(align='center' alt='' src='https://gallery.mailchimp.com/3cf1a78b321fc81fa7326866d/images/51556ee0-188f-4321-9513-bb7a6303bba0.png' width='600' style='max-width:732px; padding-bottom: 0; display: inline !important; vertical-align: bottom;')
              //if (gte mso 9)|(IE)
          tr
            td#templateBody(align='center' valign='top' data-template-container='')
              //if (gte mso 9)|(IE)
                table(align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;')
                  tr
                    td(align='center' valign='top' width='600' style='width:600px;')
              table.templateContainer(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
                tr
                  td.bodyContainer(valign='top')
                    table.mcnBoxedTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                      //if gte mso 9
                        table(align='center' border='0' cellspacing='0' cellpadding='0' width='100%')
                      tbody.mcnBoxedTextBlockOuter
                        tr
                          td.mcnBoxedTextBlockInner(valign='top')
                            //if gte mso 9
                              td(align='center' valign='top')
                            table.mcnBoxedTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                              tbody
                                tr
                                  td(style='padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;')
                                    table.mcnTextContentContainer(border='0' cellspacing='0' width='100%' style='min-width:100% !important; background-color:#fafafa;')
                                      tbody
                                        tr
                                          td.mcnTextContent(valign='top' style='padding: 18px;color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                            p(dir='ltr' style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;') Hello #{friendUsername},
                                            p(style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                              | Your friend #{username} (
                                              a(href='mailto:#{email}' target='_blank') #{email}
                                              | ) wants to be friends on Probot Playground!
                                            p(style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;') Follow this special link accept their request and become friends!&nbsp;
                                            p(style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                              a(href=link target='_blank') Accept Request!
                                            p(style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                              img(alt='' border='0' height='1' src='https://ci3.googleusercontent.com/proxy/p9VyWvQvPzgZD-XOOq2EzH6KMrlRanyW6AJgcKSXkxqdloR9SfyMftx54E5dVmO8RA8KCC4QYTT7I-3dnYqScMRbn7Mf5TJfDN4NAVb31C8nZ3Qm-h_VMDHqussp4fo0RCRE07tJh3ztNLiaThPNR5h9vdJDgV4OhbF-v1byZkx5BRu4Q5LObHpnvejNA61vryt-CWVAzodbd-7obM7AW_eiWML387RXXU_6286vtPSZ8f8LfAOoQiy793VePCIfE4oaVS2gEOAxtC7cbYT0cnYf2ZbYXoZmPZC_rTvIsTgU9C3QuJxEwskFI6mbytSi0K1lhxA_sZZTZedrSRgpb95gEfiT8XH1v2zwYsAK1KnGTrN3z_201Td_AMbVPvJcFcXbeGc9Th7LkI1S9iiJE_ugmJe8PdrVpWjMj-wmqSzCRm4K5MrDoWs=s0-d-e1-ft#http://email.replaypoker.com/wf/open?upn=Kje8WhleAsgDR1YgO7R0-2BkDLUZ6z-2BCSv49xqtYZ5AqQHzoyDE62E6oN0dSl5GiLOIX7aV4eiqke6woP00atG8c3-2Fvz6xQH2cEkam4sAJgsw9zaCwkg1Ar5LZZRMf0U8K2GD5AtJEHbB8aGjVgZWUFeVlj903sp0Bb9INj61wTTj-2F49mC8sOsdG8bCLTprw27whW1anf-2FSE7mRsm8LAg61vW3bEhCZPKjYoBCxHaoQh3fVv-2FfdfzyGk355X2wzLa4' width='1')
                                            p(dir='ltr' style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;') Best Regards,
                                            p(dir='ltr' style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                              strong Probot Playground
                                            p(dir='ltr' style='color: #404040;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: left;')
                                              a(href='http://www.probotplayground.com') www.probotplayground.com
                            //if gte mso 9
                            //if gte mso 9
                    table.mcnDividerBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                      tbody.mcnDividerBlockOuter
                        tr
                          td.mcnDividerBlockInner(style='min-width:100%; padding:18px; background-color:#fafafa;')
                            table.mcnDividerContent(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%;border-top: 2px solid #CC0000; background-color:#fafafa;')
                              tbody
                                tr
                                  td
                                    span
                            //
                              <td class="mcnDividerBlockInner" style="padding: 18px;">
                              <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                      tbody.mcnTextBlockOuter
                        tr
                          td.mcnTextBlockInner(valign='top' style='padding-top:9px; background-color:#fafafa;')
                            //if mso
                              table(align='left' border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100%;')
                                tr
                            //if mso
                              td(valign='top' width='600' style='width:600px;')
                            table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%; background-color:#fafafa;' width='100%')
                              tbody
                                tr
                                  td.mcnTextContent(valign='top' style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; background-color:#fafafa;')
                                    div(style='text-align: center;')
                                      span(style='font-size:17px')
                                        span(style='font-family:lora,georgia,times new roman,serif')
                                          | Want bonus chips? Refer your friends and earn extra chips to help get you started!
                            //if mso
                            //if mso
                    table.mcnShareBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;  background-color:#fafafa;')
                      tbody.mcnShareBlockOuter
                        tr
                          td.mcnShareBlockInner(valign='top' style='padding:9px')
                            table.mcnShareContentContainer(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                              tbody
                                tr
                                  td(align='center' style='padding-top:0; padding-left:9px; padding-bottom:0; padding-right:9px; background-color:#fafafa;')
                                    table.mcnShareContent(align='center' border='0' cellpadding='0' cellspacing='0')
                                      tbody
                                        tr
                                          td.mcnShareContentItemContainer(align='center' valign='top' style='padding-top:9px; padding-right:9px; padding-left:9px; background-color:#fafafa;')
                                            table(align='center' border='0' cellpadding='0' cellspacing='0')
                                              tbody
                                                tr
                                                  td(align='left' valign='top')
                                                    //if mso
                                                      table(align='center' border='0' cellspacing='0' cellpadding='0')
                                                        tr
                                                    //if mso
                                            td(align='center' valign='top')
                                                    table(align='left' border='0' cellpadding='0' cellspacing='0')
                                                      tbody
                                                        tr
                                                          td.mcnShareContentItemContainer(valign='top' style='padding-right:9px; padding-bottom:9px; background-color:#fafafa;')
                                                            table.mcnShareContentItem(border='0' cellpadding='0' cellspacing='0' width='' style='border-collapse: separate; border-radius: 0%; background-color:#fafafa;')
                                                              tbody
                                                                tr
                                                                  td(align='left' valign='middle' style='padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px; background-color:#fafafa;')
                                                                    table(align='left' border='0' cellpadding='0' cellspacing='0' width='')
                                                                      tbody
                                                                        tr
                                                                          td.mcnShareIconContent(align='center' valign='middle' width='24')
                                                                            a(href='https://www.facebook.com/probotplayground/' target='_blank')
                                                                              img(src='https://cdn-images.mailchimp.com/icons/social-block-v2/dark-facebook-48.png' alt='Share' style='display:block;' height='24' width='24')
                                                                          td.mcnShareTextContent(align='left' valign='middle' style='padding-left:5px;')
                                                                            a(href='https://www.facebook.com/probotplayground/' target='' style='color: #CC0000;font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;') Share
                                                    //if mso
                                                    //if mso
                                                      td(align='center' valign='top')
                                                    table(align='left' border='0' cellpadding='0' cellspacing='0')
                                                      tbody
                                                        tr
                                                          td.mcnShareContentItemContainer(valign='top' style='padding-right:9px; padding-bottom:9px; background-color:#fafafa;')
                                                            table.mcnShareContentItem(border='0' cellpadding='0' cellspacing='0' width='' style='border-collapse: separate; border-radius: 0%; background-color:#fafafa;')
                                                              tbody
                                                                tr
                                                                  td(align='left' valign='middle' style='padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px; background-color:#fafafa;')
                                                                    table(align='left' border='0' cellpadding='0' cellspacing='0' width='')
                                                                      tbody
                                                                        tr
                                                                          td.mcnShareIconContent(align='center' valign='middle' width='24')
                                                                            a(href='https://twitter.com/probotplay' target='_blank')
                                                                              img(src='https://cdn-images.mailchimp.com/icons/social-block-v2/dark-twitter-48.png' alt='Tweet' style='display:block;' height='24' width='24')
                                                                          td.mcnShareTextContent(align='left' valign='middle' style='padding-left:5px;')
                                                                            a(href='https://twitter.com/probotplay' target='' style='color: #CC0000;font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;') Tweet
                                                    //if mso
                                                    //if mso
                                                      td(align='center' valign='top')
                                                    table(align='left' border='0' cellpadding='0' cellspacing='0')
                                                      tbody
                                                        tr
                                                          td.mcnShareContentItemContainer(valign='top' style='padding-right:9px; padding-bottom:9px; background-color:#fafafa;')
                                                            table.mcnShareContentItem(border='0' cellpadding='0' cellspacing='0' width='' style='border-collapse: separate; border-radius: 0%; background-color:#fafafa;')
                                                              tbody
                                                                tr
                                                                  td(align='left' valign='middle' style='padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px; background-color:#fafafa;')
                                                                    table(align='left' border='0' cellpadding='0' cellspacing='0' width='')
                                                                      tbody
                                                                        tr
                                                                          td.mcnShareIconContent(align='center' valign='middle' width='24')
                                                                            a(href='https://www.linkedin.com/company/probot-playground-inc/' target='_blank')
                                                                              img(src='https://cdn-images.mailchimp.com/icons/social-block-v2/dark-linkedin-48.png' alt='Share' style='display:block;' height='24' width='24')
                                                                          td.mcnShareTextContent(align='left' valign='middle' style='padding-left:5px;')
                                                                            a(href='https://www.linkedin.com/company/probot-playground-inc/' target='' style='color: #CC0000;font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;') Share
                                                    //if mso
                                                    //if mso
                    table.mcnDividerBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                      tbody.mcnDividerBlockOuter
                        tr
                          td.mcnDividerBlockInner(style='min-width:100%; padding:18px; background-color:#fafafa;')
                            table.mcnDividerContent(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#fafafa;')
                              tbody
                                tr
                                  td
                                    span
                            //
                              <td class="mcnDividerBlockInner" style="padding: 18px;">
                              <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
              //if (gte mso 9)|(IE)
          tr
            td#templateFooter(align='center' valign='top' data-template-container='')
              //if (gte mso 9)|(IE)
                table(align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;')
                  tr
                    td(align='center' valign='top' width='600' style='width:600px;')
              table.templateContainer(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
                tr
                  td.footerContainer(valign='top')
                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%; background-color:#cc0000;')
                      tbody.mcnTextBlockOuter
                        tr
                          td.mcnTextBlockInner(valign='top' style='padding-top:9px; background-color:#cc0000;')
                            //if mso
                              table(align='left' border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100%;')
                                tr
                            //if mso
                              td(valign='top' width='600' style='width:600px;')
                            table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%; background-color:#cc0000;' width='100%')
                              tbody
                                tr
                                  td.mcnTextContent(valign='top' style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; background-color:#cc0000;')
                                    br
                                    br
                                    em Copyright &copy; Probot Playground Inc., All rights reserved.
                                    br
                                    br
                            //if mso
                            //if mso
              //if (gte mso 9)|(IE)
        // // END TEMPLATE
